{
  "applinks": {
    "details": [
      {
        "appIDs": ["REPLACE_WITH_TEAM_ID.au.com.zenithpayments.zenpayExampleApp"],
        "components": [{ "/": "/zenpay/app-return*" }]
      }
    ]
  }
}
